<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeingStory</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="appbar">
        <div class="logo">BeingStory</div>
        <nav class="navigation">
            <a href="/login">Login</a>
        </nav>
    </div>
    <div class="content">
        <img src="/image/f.png" alt="Hero Image" class="hero-image">
        <img src="/image/f.png" alt="Hero Image" class="hero-image">
        <img src="/image/f.png" alt="Hero Image" class="hero-image">
        <img src="/image/f.png" alt="Hero Image" class="hero-image">
    </div>

    <script>
        window.addEventListener('scroll', function () {
            const appbar = document.querySelector('.appbar');
            if (window.scrollY > 50) {
                appbar.classList.add('scrolled');
            } else {
                appbar.classList.remove('scrolled');
            }
        });
    </script>
</body>

</html>