/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
  }
  
  .appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ea0000; /* สีพื้นหลัง */
    color: white;
    padding: 10px 20px;
    position: sticky; /* ทำให้ติดด้านบนเมื่อเลื่อน */
    top: 0;
    z-index: 1000;
  }
  
  .appbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .appbar .navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
  }
  
  .appbar .navigation a:hover {
    text-decoration: underline;
  }
  
  .content {
    padding: 20px;
  }
  